.back{
    width:40px;
    height:20px;
    color: black;
    background-color:black;
    padding: 20px;
}
ion-buttons{
   display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 20px
}
.link{
    position: relative;
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
    background-color: #000;
}