<ion-header>
  <ion-toolbar>
    <ion-router-link href="/">
      <img class="ion-padding back" src="../../../assets/icon/tabs/back.png" alt="">
    </ion-router-link>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Pesan Baru
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/banner1.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Finn</h2>
        <h3>I'm a big deal</h3>
        <p>Listen, I've had a pretty messed up day...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/banner1.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Han</h2>
        <h3>Look, kid...</h3>
        <p>I've got enough on my plate as it is, and I...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/banner1.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Rey</h2>
        <h3>I can handle myself</h3>
        <p>You will remove these restraints and leave...</p>
      </ion-label>
    </ion-item>

    <ion-item>
      <ion-avatar slot="start">
        <img src="../../../assets/images/banner1.jpg" />
      </ion-avatar>
      <ion-label>
        <h2>Luke</h2>
        <h3>Your thoughts betray you</h3>
        <p>I feel the good in you, the conflict...</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-buttons>
      <div class="link container">
        <div class="row">
          <div class="col">
            <ion-router-link class="pribadi" href="/">
              <a href="">Pribadi</a>
            </ion-router-link>
          </div>
         <div class="col">
          <ion-router-link class="pembeli">
            <a href="">Pembeli</a>
          </ion-router-link>
         </div>
        </div>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
