<ion-header>
  <ion-toolbar>
    <ion-title>{{datauser.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <div class="container">
      <header>
        <ion-menu-button (click)="clickbuttonPage" class="btn">
          <img
          id="square"
          src="../../../assets/images/users/square.png"
          alt="square"
        />
        </ion-menu-button>
        <div class="profile">
          <div class="profile-image">
            <img
              id="profile"
              src="../../../assets/images/users/profil 1.png"
              alt="profile"
            />
            <p class="addr">Medan, Indonesia</p>
          </div>

          <h4 class="user-name">Fransiska Yautami</h4>

          <div class="profile-stats">
            <ul>
              <li>
                <strong class="stats-count">316</strong>
                <br />
                Postingan
              </li>
              <li>
                <strong class="stats-count">10RB</strong> <br />
                Pengikut
              </li>
            </ul>
          </div>
        </div>
      </header>
      <hr class="line1" />
      <div class="row mt-3 ms-2 me-2">
        <div class="col"> 
          <img src="../../../assets/images/users/semua.png" alt="all" /><br />
          <p class="ctgr-name" style="font-weight: bold">Semua</p>
          <button class="btn-floating-left col">
            <img
            src="../../../assets/images/users/angle-left-solid.svg"
            alt=""
            style="width: 9px; height: 9px;"
          /> 
          </button>
        </div>
        <div class="col">
          <img src="../../../assets/images/users/bayi.png" alt="babyproduct" />
          <p class="ctgr-name">Bayi & Anak</p>
        </div>
        <div class="col">
          <img
          src="../../../assets/images/users/perawatan.png"
          alt="skinbodycare"
        /> <p class="ctgr-name">Perawatan</p>
        </div>
        <div class="col">
          <img
          src="../../../assets/images/users/elektronik.png"
          alt="electronic"
        /> <p class="ctgr-name">Elektronik</p>
        </div>
        <div class="col">
          <img
          src="../../../assets/images/users/olahraga.png"
          alt="sport"
        /> <p class="ctgr-name">Hobi & Olahraga</p>
        <button class="btn-floating col">
          <img
          src="../../../assets/images/users/angle-right-solid.svg"
          alt=""
          style="width: 9px; height: 9px;"
        /> 
        </button> 
      </div>
      </div>
      <hr class="line2" />
      <div class="row" >
        <div class="col" *ngFor="let items of datauser">
          <div class="card mt-2" style="width: 100%">
            <img src="../../../assets/images/users/img-1.png" alt="image" />
            <div class="stats-prod-sec" style="background-color: red;">Bekas</div>
            <div class="icon">
              <div class="comments ms-2"><img src="../../../assets/images/users/approval 1.png" alt=""></div>
              <div class="comments ms-2"><img src="../../../assets/images/users/comment.png" alt=""></div>
            </div>
             <div class="descrip mb-2 ms-2">
              <p class="des">Nama Barang : {{items.name}}</p>
              <p class="des">Harga Beli : {{items.price}}</p>
              <p class="des"><strong>Harga Jual : {{item.price}}</strong></p>
              <p class="des">Lokasi : Medan, Helvetia</p>
             </div> 
          </div>
        </div>   
      </div> 
    </div>
  </ion-toolbar>
</ion-content>
