#square {
  position: absolute;
  width: 27px;
  height: 27px;
  left: 330px;
  top: 51px;
}

.container {
  max-width: 93.5rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.profile {
  padding: 5rem 0;
}

.profile::after {
  content: "";
  display: block;
  clear: both;
}

.profile-image {
  margin-left: 0.5rem;
  float: left;
  width: calc(33.333% - 1rem);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
}

.profile-image img {
  border-radius: 50%;
}

.addr {
  margin-top: 9rem;
  font-style: normal;
  font-size: 10px;
  line-height: 12px;
  color: #FF0000;
  position: absolute;
}

.user-name {
  display: block;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
}

.profile-stats {
  margin-top: 0.6rem;
}

.profile-stats li {
  text-align: center;
  display: inline-block;
  line-height: 1;
  margin-right: 1rem;
  cursor: pointer;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
}

.stats-count {
  margin-bottom: 1em;
}

hr {
  margin-top: -2rem;
  height: 2px;
  background-color: grey;
  border: none;
}

.line1{
  margin-bottom: -0.2em;      
}

.card {
  background-color:#F3F3F3;
}

.ctgr-name {
font-weight: 100;
font-size: 10px;
line-height: 12px;
text-align: center;
letter-spacing: -0.333333px;
color: #000000;
}

.btn-floating > img {
  position:absolute;
  top:35%;
  left:90%;
  transform:translate(-50%, -50%)
}

.btn-floating-left > img {
  position:absolute;
  top:35%;
  right:90%;
  transform:translate(-50%, -50%)
}
.line2{
  margin-top: 0em;
}

.prod {
  display: inline-block;
  font-size: 9px;
  text-align: center;
  align-items: center;
}

.stats-prod-sec {
  font-size: 10px;
  color: #fff;
  position: absolute;
  margin-top: 6rem;
  left: 7.3rem;
  
}

.comments {
  display: inline-block;
  
}

.des {
  font-size: 10px;
  margin: 0;
}
