<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      <ion-text>
        <h1></h1>
      </ion-text>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-conten>
    
</ion-conten>