.container {
  //centertobottomwidth: 100%;
  top: 10px;
  height: 12em;
  width: 50%;
  position: relative;
  background: #F3F3F3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  margin: auto;
  border-radius: 50%;
  overflow: hidden;
}

.container img {
  position: relative;
  top: 13%;
  left: 23%;
  transform: translate(-50%, -50%);
  width: 45%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.container h3 {
  position: absolute;
  top: -10%;
}
ion-input {
  position: relative;
  border:none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 45%;
}

