 
  <ion-content>
    <ion-toolbar>
      <ion-form-group>
        <div class="container">
          <ion-label>
            <h3>Gambar</h3>
          </ion-label>
          <ion-input [(ngModel)]="addValueProduct.image" name="image" type="file" ></ion-input>
        </div>
      </ion-form-group>
    </ion-toolbar>
    <ion-form>
      <ion-banner>
        <ion-label>Pilih Kategori</ion-label>
        <div class="category">
          <ion-grid>
            <ion-row>
              
            </ion-row>
          </ion-grid>
        </div>
      </ion-banner>
      <ion-list>
        <ion-item>
          <ion-label>
            <h3>Nama Barang</h3>
          </ion-label>
          <ion-input type="text" [(ngModel)]="addValueProduct.name" name="name" placeholder="Nama Barang"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Harga</h3>
          </ion-label>
          <ion-input type="text" [(ngModel)]="addValueProduct.price" name="price" placeholder="Harga"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Kategori</h3>
          </ion-label>
          <ion-select ngFor="let item of dataCategory">
            <ion-option value="{{item.id}}">{{item.name}}1</ion-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Deskripsi</h3>
          </ion-label>
          <ion-textarea [(ngModel)]="addValueProduct.description" name="description" placeholder="Deskripsi"></ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label>
            <h3>Deskripsi</h3>
          </ion-label>
          <ion-textarea [(ngModel)]="addValueProduct.description" name="description" placeholder="Deskripsi"></ion-textarea>
        </ion-item>
      </ion-list>
    </ion-form>
  </ion-content>
