<ion-header>
  <ion-toolbar>
    <ion-router-link href="/">
      <div class="ion-padding" style="font-weight: bold;">
        <img src="../../../assets/icon/tabs/back.png" width="16" height="16"
          alt="">
      </div>
    </ion-router-link>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-item>
    <ion-avatar slot="start">
      <img src="../../../assets/images/banner1.jpg">
    </ion-avatar>
    <ion-label>
      <h3>{{seller.name}}</h3>
      <p>{{seller.updated_at | date}}</p>
    </ion-label>
  </ion-item>
  <img src="../../../assets/images/banner1.jpg" alt="ion">
  <ion-card-content>
   <ion-list lines="none">
      <ion-item>
        <ion-title>
          Nama Barang : {{detailnya.name}}
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Harga Beli : {{detailnya.price}}
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Harga Jual : {{detailnya.price}}
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Lokasi : Jam Tanganclear
          
        </ion-title>
      </ion-item>
      <ion-item>
        <ion-title>
          Deskripsi : {{detailnya.description}}
        </ion-title>
      </ion-item>
   </ion-list>
  </ion-card-content>
  <ion-footer>
    <ion-toolbar>
      <ion-router-link href="tabs/chat">
        
          <ion-button style="width: 100%; height:30px; background-color:gray;">
            <label for="Hubungi">Hubungi</label>
          </ion-button>
        
      </ion-router-link>
      
    </ion-toolbar>
  </ion-footer>

</ion-content>