<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="feed">
      <img src="../../assets/icon/tabs/feed.png" alt="" width="20" height="20">
      <ion-label>Feed</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="jualcomponent">
      <img src="../../assets/icon/tabs/more.png" alt="" width="20" height="20">
      <ion-label>Jual</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <img src="../../assets/icon/tabs/user.png" alt="" width="20" height="20">
      <ion-label>Akun</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
