<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="carouselExampleControls" class="carousel slide max-width: 100% !important;" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/banner1.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./assets/images/banner2.jpg" class="d-block w-100" alt="..." />
      </div>
      <div class="carousel-item">
        <img src="./assets/images/banner3.jpg" class="d-block w-100" alt="..." />
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="ion-padding" style="max-width: 100% !important;">
    <div class="category">
      <app-category></app-category>
    </div>
    
  </div>
  <div class="product" padding>
    <app-product></app-product>
  </div>
</ion-content>
