ion-toolbar .nav{
    display: flex;
    flex-direction: row;
    
}
.carousel img{
    width: 100%;
    height: 210px;
}
.product{
    margin-top:5px;
    position:relative;
    left: 0;
}
.category{
    position:relative; 
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
}
