<ion-header>
  <ion-toolbar>
    <ion-title> <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">
          <img src="./assets/icon/dtiga.svg" width="20" height="20" class="d-inline-block align-text-top" /> 
        </a>
        <a class="me-3" href="#"> <img src="../../../assets/images/feed/search.png" alt="search"> </a>
      </div>
    </nav></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-toolbar>
  <div class="container">
    <div class="top-left"><img src="" alt=""><iframe width="225" height="223"
      src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1&mute=1">
      </iframe></div>
    <div class="top-right" ><img src="../../../assets/images/feed/samprod1.png" alt="" class=""></div>
    <div class="content"><img src="../../../assets/images/feed/Rectangle 42.png" alt="" class=""></div>
    <div class="bottom-left product"><img src="../../../assets/images/feed/Rectangle 43.png" alt="" class=""></div>
    <div class="bottom-center product"><img src="../../../assets/images/feed/Rectangle 45.png" alt="" class=""></div>
    <div class="bottom-right product"><img src="../../../assets/images/feed/Rectangle 47.png" alt="" class=""></div>
    <div class="bottom-left product"><img src="../../../assets/images/feed/Rectangle 57.png" alt="" class=""></div>
    <div class="bottom-center product"><img src="../../../assets/images/feed/Rectangle 59.png" alt="" class=""></div>
    <div class="bottom-right product"><img src="../../../assets/images/feed/Rectangle 65.png" alt="" class=""></div>
    <div class="bottom-left product"><img src="../../../assets/images/feed/Rectangle 57.png" alt="" class=""></div>
    <div class="bottom-center product"><img src="../../../assets/images/feed/Rectangle 59.png" alt="" class=""></div>
    <div class="bottom-right product"><img src="../../../assets/images/feed/Rectangle 65.png" alt="" class=""></div>
    <div class="bottom-left product"><img src="../../../assets/images/feed/Rectangle 57.png" alt="" class=""></div>
    <div class="bottom-center product"><img src="../../../assets/images/feed/Rectangle 59.png" alt="" class=""></div>
    <div class="bottom-right product"><img src="../../../assets/images/feed/Rectangle 65.png" alt="" class=""></div>
    <div class="bottom-right product"><img src="../../../assets/images/feed/Rectangle 65.png" alt="" class=""></div>
  </div>
  </ion-toolbar>
</ion-content>
