

#logo {
  width: 200px;
  height: 30px;
  margin-right: 170px;
  position: relative;
}

.navbar {
  margin-top: 10px;
  position: relative;
  align-items: center;
}

.container {
  margin-top: 5px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 4px;
}

.container > div {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.top-left {
  grid-column: 1/3;
  grid-row: 1/4;
  width: 225px;
  height: 223px;
  background-color: rgb(26, 23, 23);
}

.top-right {
  grid-column: 3/3;
  width: 110px;
  height: 110px;
  margin-left:0px;
}

.content {
  grid-column: 3/4;
  width: 110px;
  height: 110px;
  margin-left:0px;
  margin-top: -2px;
}

.bottom-left {
  grid-column: 1/2;
  width: 110px;
  height: 110px;
  margin-top: -115px;
}

.bottom-center {
  grid-column: 2/3;
  width: 110px;
  height: 110px;
  margin-top: -115px;
  margin-left: -8px;
}

.bottom-right {
  grid-column: 3/4;
  width: 110px;
  height: 110px;
  margin-top: -115px;
  margin-left: -8px;
}

.product {
  width: 110px;
  height: 110px;
margin:0;
}

@media only screen and (min-width: 768px) {
  .top-left {
    grid-column: 1/3;
    grid-row: 1/4;
    width: 425px;
    height: 423px;
    background-color: rgb(26, 23, 23);
  }
  
  .top-right {
    grid-column: 3/3;
    width: 210px;
    height: 210px;
    margin-left:0px;
  }
  
  .content {
    grid-column: 3/4;
    width: 210px;
    height: 210px;
    margin-left:0px;
    margin-top: -2px;
  }
  
  .bottom-left {
    grid-column: 1/2;
    width: 210px;
    height: 210px;
    margin-top: -115px;
  }
  
  .bottom-center {
    grid-column: 2/3;
    width: 210px;
    height: 210px;
    margin-top: -115px;
    margin-left: -8px;
  }
  
  .bottom-right {
    grid-column: 3/4;
    width: 210px;
    height: 210px;
    margin-top: -115px;
    margin-left: -8px;
  }
  
  .product {
    width: 210px;
    height: 210px;
  margin:0;
  }


}



  

