<div class="ion-padding">
  <ion-grid>
    <ion-row class="container" >
      <ion-col size="3" *ngFor="let item of datacategory">
          <ion-router-link href="products/filterbyCategory/{{item.id}}">
            <img style="align-items: center; justify-content: center;" src="../../../assets/images/category/{{item.icon}}"
              alt="" />
            <button ion-bottom style="font-size: 10px; text-align: center">
              {{item.name}}
            </button>
          </ion-router-link>
      </ion-col>

      <ion-col size="3">
        <div>
          <img src="../../../assets/icon/tabs/morec.png" width="20" height="20" alt="" />
          <p style="font-size:10px;">More</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
