<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-toolbar>
    <ion-item class="imglogin">
      <img src="../../../assets/images/logipage.png" alt="">
    </ion-item>
  </ion-toolbar>

  <ion-item class="itemstyle">
    <ion-button (click)="loginbyfacebook()">
      <ion-icon name="logo-facebook"></ion-icon>
    </ion-button>
    <ion-button (click)="loginbygoogle()">
      <ion-icon class="goggle" color="danger" name="logo-google"></ion-icon>
    </ion-button>
  </ion-item>
  <form >
    <ion-item class="itemstyle">
      <ion-input [(ngModel)]="loginValue.email" name="email" type="text"
        placeholder="Email"></ion-input>
    </ion-item>
    <ion-item class="itemstyle">
      <ion-input [(ngModel)]="loginValue.password" name="password"
        type="password" placeholder="Password"></ion-input>
    </ion-item>
    <ion-grid>
      <ion-row style="margin-top: 25px;">
        <ion-col>
          <ion-button (click)="loginbyemail()" expand="block" color="primary">Login</ion-button>
        </ion-col>
        <ion-col>
          <ion-routing-link href="register">
            <ion-button expand="block" color="secondary">Register</ion-button>
          </ion-routing-link>
         
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-button color="light" expand="block">Forgot Password?</ion-button>
</ion-content>
