

.itemstyle{
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0, 0, 0);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
ion-icon{
    margin: 5px;
    padding: 5px;
    left: 10px;
}
.imglogin img{
    position: relative;
    top: 40%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}
// ion-input{
//     border: 1px solid rgb(34, 31, 31);
//     border-radius: 5px;
//     padding: 15px;
//     margin-top: 10px;
//     margin-bottom:20px;
// }

