<ion-header>
  <ion-toolbar>
    <ion-title>products</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-grid>
      <ion-row class="container">
        <ion-col size="3
          ">
          <div>
            <img style="align-items: center; justify-content: center;" src="./assets/images/category/Rectangle11.png" alt="" />
            <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
           ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="./assets/images/category/Rectangle11.png" alt="" />
             <ion-bottom style="font-size: 10px; text-align: center">
              Elektronik
            </ion-bottom>
          </div>
        </ion-col>
        <ion-col size="3
          ">
          <div>
            <img src="../../../assets/icon/tabs/morec.png" width="20" height="20" alt="" />
            <p style="font-size:10px;">More</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  
</ion-content>
