
ion-card {
  width: 180px;
  height: 290px;
  margin-bottom: -50px;
  margin: -30px;
  background: #F3F3F3;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}

p, strong {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  color: #0B0B0B;
  margin-top: -15px;
  }

.status {
  margin-left: 130px;
  margin-bottom: -30px;
  margin-top: -50px;
}

.like {
  margin-left: -15px;
}

.icon {
  margin-top: -55px;
}





 
 