input{
    width: 90%;
    height: 35px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button{
    position: absolute;
    float: left;
    bottom: 13px;
    background-color: transparent;
}
ion-icon{
    font-size: 25px;
    color: rgb(20, 19, 19);
}
input[type="text"]{
    padding:10px;
    font-size:12px;
}