<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Pesan Baru
    </ion-list-header>
    <ion-item>
      <ion-label>
        <h2>John Doe</h2>
        <small>Dec 20, 2022</small>
        <p>Hallo Gan Apakah barang masih Ready?</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-label>
        <h2>Me</h2>
        <small>Dec 20, 2022</small>
        <p>Hallo Gan Masih banyak Gan</p>
      </ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<ion-footer>
  <ion-toolbar>
    <form action="">
      <div class="inputan container">
        <input [(ngModel)]="messageinput.pesan" type="text" name="pesan" id="">
        <input type="file" name="file">
        <button (click)="message()"><ion-icon name="send"></ion-icon></button>
       </div>
    </form>
  </ion-toolbar>
</ion-footer>
