<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner">
    <img src="../../../assets/images/banner1.jpg" alt="" />
  </div>
  <ion-row >
    <ion-col *ngFor="let row of dataProduct">
      <ion-tab-button tab="productsdetail">
        <ion-card>
          <img src="../../../assets/images/banner1.jpg" style="width:180px; height:143px;"/>
          <button class="btn status"><p style="background-color: red; color: white;">Bekas</p></button>
          <!-- <button class="btn status"><p style="background-color: blue; color: white;">Baru</p></button> -->
          <ion-card-header>
           <button (click)="getLike" class="btn mb-2 icon like"><img src="../../../assets/images/users/approval 1.png" width="19" height="19" alt=""></button>
           <img src="../../../assets/images/users/comment.png" alt="" class="icon mb-2">
           <p>Nama Barang : {{row.name}}</p>
           <p>Harga Beli :</p>
           <p><strong>Harga Jual :</strong></p>
           <p>lokasi :</p>
            <ion-card-title></ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-tab-button>     
      <ion-toolbar></ion-toolbar>
    </ion-col>
  </ion-row>
  
</ion-content>
